body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
}

button:hover {
    box-shadow: 5px 5px 5px black;
}